In [1]:
import pandas as pd

In [2]:
airline_df = pd.read_csv('data\\raw\\airlines.csv')
airline_df.sample(5)

   IATA_CODE                      AIRLINE
10        EV  Atlantic Southeast Airlines
13        VX               Virgin America
0         UA        United Air Lines Inc.
3         F9       Frontier Airlines Inc.
9         DL         Delta Air Lines Inc.

In [3]:
airport_df = pd.read_csv('data\\raw\\airports.csv')
airport_df.sample(5)

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
58,CHA,Chattanooga Metropolitan Airport (Lovell Field),Chattanooga,TN,USA,35.03527,-85.20379
108,FAI,Fairbanks International Airport,Fairbanks,AK,USA,64.81368,-147.85967
67,CMH,Port Columbus International Airport,Columbus,OH,USA,39.99799,-82.89188
284,SJT,San Angelo Regional Airport (Mathis Field),San Angelo,TX,USA,31.35775,-100.49631
143,HOU,William P. Hobby Airport,Houston,TX,USA,29.64542,-95.27889

In [4]:
flight_df = pd.read_csv('data\\raw\\flights.csv')
flight_df.sample(5)

FileNotFoundError: [Errno 2] No such file or directory: 'data\\raw\\flights.csv'

In [ ]:
cancel_flight_df = flight_df[['CANCELLED', 'CANCELLATION_REASON']]
flight_df.drop(columns=['CANCELLED', 'CANCELLATION_REASON'], inplace=True)
cancel_flight_df.sample(5)

         CANCELLED CANCELLATION_REASON
1813609          0                 NaN
4224539          0                 NaN
202199           0                 NaN
3168785          0                 NaN
5461290          0                 NaN

In [ ]:
flight_df.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY',
       'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')